body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: url(background-img.jpg);
    background-size: cover;
    background-color: transparent;
}

.header {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    z-index: 10000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    border: solid;
    align-items: center;
    border: none;
}

.header-solid {
    background-color: rgba(93, 61, 30, 0.7); /* Solid color with some transparency */
}
.header-lside {
    height: 100px;
    width: 1000px;
    background-color: none;
    color: white;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
}

.header-lside img {
        height: 100px;
    
}

.header-button {
    padding: 10px;
    margin-right: 10px;
    background-color: transparent;
    border: none;
    color: white;
    font-weight: 200;
    font-size: 20px;
    cursor: pointer;
}

.header-button:hover {
    opacity: 0.6;
}

.header-rside {
    height: 100px;
    display: flex;
    padding-right: 20px;
    align-items: center;
    justify-content: space-between;
}

.first-part {
    display: flex;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 20px;
    height: 400px; /* You may want to adjust this height */
    width: 100%;
}

.first-part img {
    height: 400px;
    width: 1000px;
    border-radius: 20px;
}

.second-part {
    display: flex;
    flex-direction: row;
    width: 900px;
    align-items: center;
    color: white;
    background-color: rgba(93, 61, 30, 0.7);
    border-radius: 250px;
}

.profile-pic {
    display: flex;
    height: 300px;
    width: 300px;
    padding-bottom: 20px;
}

.label{
    padding-left: 20px;
}
.name {
    font-size: 50px;
    padding-bottom: 10px;
    color: white;
}

.job-title {
    font-size: 20px;
    color: white;
}

.about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    font-size: 30px;
    padding-bottom: 50px;
    color: white;
}

.text-description {
    font-size: 20px;
    padding-top: 20px;
    padding-right: 360px;
    padding-left: 360px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 50px;
    line-height: 1.5;
    color: white;
}

.description {
    padding-bottom: 50px;
    color: white;
}

.my-works-block {
    display: flex;
    flex-direction: column;
    height: 500px;
    align-items: center;
    padding-right: 360px;
    padding-left: 360px;
    text-decoration: none;
}

.my-works-word {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    font-size: 30px;
    padding-bottom: 50px;
    text-decoration: none;
    color: white;
}

.my-works {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.my-works-pic  {
    position: flex;;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
    align-items: center;
    text-decoration: none;
}

.my-works-pic img  {
    height: 250px;
    border-radius: 20px;
}

.my-works-title {
    position: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    font-size: 30px;
    padding-bottom: 50px;
    text-decoration: none; /* Remove underline */
    color: black;
    color: white;
}

.my-works-part {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}


.my-works-part:hover .my-works-title {
    color: white;
    padding: 20px;
}


.my-works-part:hover {
    background-color: #85582a4d;
    padding: 20px;
    border-radius: 20px;
}

.my-works-part:active {
    padding: 5px;
}
